[build]
  publish = "public"
  command = "hugo"

[context.production.environment]
  # הגדרת גרסת Hugo - הוספת "-extended" חיונית לבניית CSS/Sass של ערכת הנושא Ananke
  HUGO_VERSION = "0.121.1-extended"