[build]
  publish = "public"
  command = "hugo"

[context.production.environment]
  # תיקון שגיאת 404: Netlify מורידה אוטומטית את גרסת Extended אם רק מספר הגרסה נקי (0.127.0)
  HUGO_VERSION = "0.127.0"